<div class="container pb-4">
    <div class="row">
        <div class="col-lg-4 mb-5">
            <div class="contact-us px-4 text-lg-end">
                <h4 class="mb-4">Contact Us</h4>
                <h5>Email</h5>
                <p>needhelp@Organia.com</p>
                <h5>Phone</h5>
                <p>666 888 888</p>
                <h5>Address</h5>
                <p>88 road, borklyn street, USA</p>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="Organick px-4 text-lg-center">
                <h4><img src="../../assets/imgs/Logo.png" width="35px" alt="logo"> Organick</h4>
                <p class="mt-3">Simply dummy text of the printing and typesetting industry. <br>
                    Lorem Ipsum simply dummy text of the printing </p>
                <div class="d-flex flex-wrap justify-content-lg-center gap-3 mt-5">
                    <div class="circle">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="circle">
                        <i class="fa-brands fa-facebook"></i>
                    </div>
                    <div class="circle">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div class="circle">
                        <i class="fa-brands fa-pinterest"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="px-4 utility-pages">
                <h4 class="mb-4">Utility Pages</h4>
                <p>Style Guide</p>
                <p>404 Not Found</p>
                <p>Password Protected</p>
                <p>Licences</p>
                <p>Changelog</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid text-center py-3">
    <hr>
    Copyright © <a href="#">Organick </a>| Designed by <a href="#"> VictorFlow </a>Templates - Powered by <a
        href="#">Webflow</a>
</div>