<div class="cover">
    <h1>About Us</h1>
</div>
<div class="about-us mt-5 py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center px-lg-5 pt-lg-5">
                <img src="../../assets/imgs/about-us.png" width="100%" alt="about">
            </div>
            <div class="col-lg-6">
                <div class="pt-4">
                    <h6>About Us</h6>
                    <h2 class="mb-4 col col-lg-7">We do Creative
                        Things for Success</h2>
                    <p class="col col-lg-9">Simply dummy text of the printing and typesetting industry. Lorem had ceased
                        to been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
                        <br><br>
                        Simply dummy text of the printing and typesetting industry. Lorem had ceased to been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
                    </p>
                    <div class="d-flex gap-4 flex-wrap my-4">
                        <div class="d-flex align-items-center gap-2">
                            <div class="icon-contanier">
                                <img src="../../assets/imgs/car.svg" width="26" height="26" alt="vegan">
                            </div>
                            <div class="list-container pt-3">
                                <h5>Modern Agriculture <br>
                                    Equipment
                                </h5>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <div class="icon-contanier">
                                <img src="../../assets/imgs/factory.svg" width="26" height="26" alt="vegan">
                            </div>
                            <div class="list-container pt-3">
                                <h5>No growth <br> hormones are used</h5>
                            </div>
                        </div>
                    </div>
                    <button class="primary-btn">Explore More <i class="fa-solid fa-arrow-right ms-1"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="choose-us py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 px-lg-5 mb-5 d-flex justify-content-center align-items-center">
                <div>
                    <h6>Why Choose us?</h6>
                    <h2 class="col col-lg-9 mb-3">We do not buy from the
                        open market & traders.</h2>
                    <p class="col col-lg-11">Simply dummy text of the printing and typesetting industry. Lorem had
                        ceased
                        to been the
                        industry's standard the 1500s, when an unknown</p>
                    <div class="mt-4">
                        <div class="circle-container">
                            <h4><img src="../../assets/imgs/circle.png" class="me-2" width="15px" height="15px"
                                    alt="circle">100%
                                Natural Product</h4>
                        </div>
                        <p class="ms-5 ps-4 mt-3 col col-lg-7">Simply dummy text of the printing and typesetting
                            industry Lorem Ipsum</p>
                    </div>
                    <div class="mt-4">
                        <div class="circle-container">
                            <h4><img src="../../assets/imgs/circle.png" class="me-2" width="15px" height="15px"
                                    alt="circle">Increases resistance</h4>
                        </div>
                        <p class="ms-5 ps-4 mt-3 col col-lg-7">Filling, and temptingly healthy, our Biona Organic
                            Granola with Wild Berries is just the thing</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5 d-flex align-items-center justify-content-center choose-us-img">
                <img src="../../assets/imgs/choose-us.jpg" width="100%" alt="choose-us">
            </div>
        </div>
        <div class="reasons-card px-lg-5 mt-5">
            <div class="row px-lg-5 flex-wrap">
                <div class="px-4 px-md-2 col-md-6 col-lg-3 mb-4">
                    <div class="single-reason py-5 d-flex justify-content-center align-items-center text-center">
                        <div>
                            <div class="icon-card mb-2">
                                <img src="../../assets/imgs/shoop.svg" width="30" height="30" alt="Return Purchase">
                            </div>
                            <h5>Return Policy</h5>
                            <p class="col-10 col-md-8 mx-auto">Simply dummy text of the printintypesetting industry.</p>
                        </div>
                    </div>
                </div>
                <div class="px-4 px-md-2 col-md-6 col-lg-3 mb-4">
                    <div class="single-reason py-5 d-flex justify-content-center align-items-center text-center">
                        <div>
                            <div class="icon-card mb-2">
                                <img src="../../assets/imgs/leafes.svg" width="30" height="30" alt="Return Purchase">
                            </div>
                            <h5>100% Fresh</h5>
                            <p class="col-10 col-md-8 mx-auto">Simply dummy text of the printintypesetting industry.</p>
                        </div>
                    </div>
                </div>
                <div class="px-4 px-md-2 col-md-6 col-lg-3 mb-4">
                    <div class="single-reason py-5 d-flex justify-content-center align-items-center text-center">
                        <div>
                            <div class="icon-card mb-2">
                                <img src="../../assets/imgs/call.svg" width="30" height="30" alt="Return Purchase">
                            </div>
                            <h5>Support 24/7</h5>
                            <p class="col-10 col-md-8 mx-auto">Simply dummy text of the printintypesetting industry.</p>
                        </div>
                    </div>
                </div>
                <div class="px-4 px-md-2 col-md-6 col-lg-3 mb-4">
                    <div class="single-reason py-5 d-flex justify-content-center align-items-center text-center">
                        <div>
                            <div class="icon-card mb-2">
                                <img src="../../assets/imgs/card.svg" width="30" height="30" alt="Return Purchase">
                            </div>
                            <h5>Secured Payment</h5>
                            <p class="col-10 col-md-8 mx-auto">Simply dummy text of the printintypesetting industry.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team py-5">
    <div class="text-center pt-5">
        <h6>Team</h6>
        <h2>Our Organic Experts</h2>
        <p class="col col-md-8 col-lg-5 mx-auto">Simply dummy text of the printing and typesetting industry. Lorem had
            ceased to been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a galley.</p>
    </div>
    <div class="team-members my-5">
        <div class="container">
            <div class="row px-lg-5">
                <div class="col-lg-4 mb-5">
                    <div class="team-card">
                        <div class="team-img">
                            <img src="../../assets/imgs/team (1).jpg" width="100%" alt="team1">
                        </div>
                        <div class="team-info px-3 py-4">
                            <h5>Marianne Loreno</h5>
                            <div class="d-flex justify-content-between align-items-center flex-wrap">
                                <div>
                                    <h6>Farmer</h6>
                                </div>
                                <div class="d-flex gap-3">
                                    <i class="fa-brands fa-facebook"></i>
                                    <i class="fa-brands fa-twitter"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="team-card middle">
                        <div class="team-img">
                            <img src="../../assets/imgs/team (2).jpg" width="100%" alt="team2">
                        </div>
                        <div class="team-info px-3 py-4">
                            <h5>Giovani Bacardo</h5>
                            <div class="d-flex justify-content-between align-items-center flex-wrap">
                                <div>
                                    <h6>Designer</h6>
                                </div>
                                <div class="d-flex gap-3">
                                    <i class="fa-brands fa-facebook"></i>
                                    <i class="fa-brands fa-twitter"></i>
                                    <i class="fa-brands fa-instagram"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="team-card">
                        <div class="team-img">
                            <img src="../../assets/imgs/team (3).jpg" width="100%" alt="team3">
                        </div>
                        <div class="team-info px-3 py-4">
                            <h5>Riga Pelore</h5>
                            <div class="d-flex justify-content-between align-items-center flex-wrap">
                                <div>
                                    <h6>Farmer</h6>
                                </div>
                                <div class="d-flex gap-3">
                                    <i class="fa-brands fa-facebook"></i>
                                    <i class="fa-brands fa-twitter"></i>
                                    <i class="fa-brands fa-instagram"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offer py-5">
    <div class="text-center pt-5">
        <h6>About Us</h6>
        <h2 class="text-white">What We Offer for You</h2>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="single-offer">
                    <img src="../../assets/imgs/spicy-category.jpg" width="100%" alt="spicy">
                </div>
                <h5 class="text-white text-center mt-3">Spicy</h5>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="single-offer">
                    <img src="../../assets/imgs/nuts-category.jpg" width="100%" alt="nuts">
                </div>
                <h5 class="text-white text-center mt-3">Nuts & Feeds</h5>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="single-offer">
                    <img src="../../assets/imgs/fruits-category.jpg" width="100%" alt="fruits">
                </div>
                <h5 class="text-white text-center mt-3">Fruits</h5>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="single-offer">
                    <img src="../../assets/imgs/vegetables-category.jpg" width="100%" alt="vegetables">
                </div>
                <h5 class="text-white text-center mt-3">Vegetable</h5>
            </div>
        </div>
    </div>
</div>
<app-subscripe></app-subscripe>
<app-footer></app-footer>