<div class="cover">
    <h1>Contact Us</h1>
</div>
<div class="contact py-5 mt-5">
    <div class="container">
        <div class="row px-3 px-lg-0">
            <div class="fruits col-lg-6 d-flex justify-content-lg-center align-items-center mb-5">
                <img src="../../assets/imgs/contact.jpg" class="img-fluid" alt="contact">
            </div>
            <div class="col-lg-6 d-flex justify-content-center align-items-center mb-5">
                <div>
                    <h2 class="col-lg-11">We'd love to talk about how we can work together.</h2>
                    <p class="col-lg-10">Simply dummy text of the printing and typesetting industry. Lorem had ceased to
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley.
                    </p>
                    <div class="contact-container d-flex gap-3 align-items-center my-4">
                        <div class="icon-box">
                            <img src="../../assets/imgs/email.svg" width="30" height="30" alt="email">
                        </div>
                        <div>
                            <h5>Message</h5>
                            <p class="mb-0">support@organic.com</p>
                        </div>
                    </div>
                    <div class="contact-container d-flex gap-3 align-items-center">
                        <div class="icon-box">
                            <img src="../../assets/imgs/phone.svg" width="30" height="30" alt="phone">
                        </div>
                        <div>
                            <h5>Contact Us</h5>
                            <p class="mb-0">+01 123 456 789</p>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap gap-3 mt-5">
                        <div class="circle">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                        <div class="circle">
                            <i class="fa-brands fa-facebook"></i>
                        </div>
                        <div class="circle">
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                        <div class="circle">
                            <i class="fa-brands fa-pinterest"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mb-5 py-5">
    <div class="location px-3 px-lg-5 d-flex align-items-center justify-content-end">
        <div class="location-box py-5 px-4 px-md-5 col-lg-4">
            <div>
                <h6>Location</h6>
                <h2>Our Farms</h2>
                <p>Established fact that a reader will be distracted by the readable content of a page when looking a
                    layout. The point of using.</p>
                <div class="d-flex gap-3 mt-4">
                    <div>
                        <img src="../../assets/imgs/mark.png" width="30" height="30" alt="">
                    </div>
                    <div>
                        <label>New York, USA:</label>
                        <p>299 Park Avenue New York, <br> New York 10171</p>
                    </div>
                </div>
                <div class="d-flex gap-3">
                    <div>
                        <img src="../../assets/imgs/mark.png" width="30" height="30" alt="">
                    </div>
                    <div>
                        <label>London, UK:</label>
                        <p>30 Stamford Street, <br> London SE1 9LQ:</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form container my-5 pb-5 px-5">
    <form>
        <div class="row">
            <div class="col-md-6 mb-4">
                <label>Full Name*</label>
                <input type="text" class="form-control" placeholder="Enter Your Name">
            </div>
            <div class="col-md-6 mb-4">
                <label>Email Address*</label>
                <input type="Email" class="form-control" placeholder="Enter Your Email">
            </div>
            <div class="col-md-6 mb-4">
                <label>Company*</label>
                <input type="text" class="form-control" placeholder="Enter Company Name">
            </div>
            <div class="col-md-6 mb-4">
                <label>Subject*</label>
                <input type="text" class="form-control" placeholder="How Can We Help">
            </div>
            <div>
                <label>Message*</label>
                <textarea class="form-control" cols="30" rows="8" placeholder="Hello there,i would like to talk about how to..."></textarea>
            </div>
        </div>
        <button class="primary-btn mt-4">Send Message</button>
    </form>
</div>

<app-subscripe></app-subscripe>
<app-footer></app-footer>