<div class="cover">
    <h1>Portfolio Standard</h1>
</div>
<div class="portfolio py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div>
                    <img src="../../assets/imgs/portfolio (1).png" width="100%" alt="portfolio">
                    <h5>Green & Tasty Lemon</h5>
                    <h6>Fruits</h6>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div>
                    <img src="../../assets/imgs/portfolio (2).png" width="100%" alt="portfolio">
                    <h5>Organic Carrot</h5>
                    <h6>Farmer</h6>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div>
                    <img src="../../assets/imgs/portfolio (3).png" width="100%" alt="portfolio">
                    <h5>Organic Betel Leaf</h5>
                    <h6>Leaf</h6>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div>
                    <img src="../../assets/imgs/portfolio (4).png" width="100%" alt="portfolio">
                    <h5>Natural Tommato</h5>
                    <h6>Fruits</h6>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div>
                    <img src="../../assets/imgs/portfolio (5).png" width="100%" alt="portfolio">
                    <h5>Black Raspberry</h5>
                    <h6>Farmer</h6>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div>
                    <img src="../../assets/imgs/portfolio (6).png" width="100%" alt="portfolio">
                    <h5>Honey Orange</h5>
                    <h6>Farmer</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<app-subscripe></app-subscripe>
<app-footer></app-footer>