.cover{
    background-image: url(../../assets/imgs/news-cover.jpg);
}

.vitamen-C{
    background-image: url(../../assets/imgs/vitamen-C.png);
}

.organic-food{
    background-image: url(../../assets/imgs/organic-food.png);
}

.fresh-fruits{
    background-image: url(../../assets/imgs/fresh-fruits.png);
}
.plastic{
    background-image: url(../../assets/imgs/plastic.png);
}