<div class="cover">
    <h1>Recent News</h1>
</div>
<div class="news mt-5 py-5 pb-lg-0">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-6">
                <div class="vitamen-D new-image">
                    <div class="date">
                        <h5>25<br>Nov</h5>
                    </div>
                </div>
                <div class="new-content">
                    <span><i class="fa-solid fa-user me-2"></i> By Rachi Card</span>
                    <br>
                    <h5 class="mt-3">The Benefits of Vitamin D & How to Get It</h5>
                    <p>Simply dummy text of the printing and typesetting <br> industry. Lorem Ipsum</p>
                    <button class="secondary-btn mt-1">Read More <i class="fa-solid fa-arrow-right ms-1"></i></button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tommeto new-image">
                    <div class="date">
                        <h5>25<br>Nov</h5>
                    </div>
                </div>
                <div class="new-content">
                    <span><i class="fa-solid fa-user me-2"></i> By Rachi Card</span>
                    <br>
                    <h5 class="mt-3">Our Favourite Summertime Tommeto</h5>
                    <p>Simply dummy text of the printing and typesetting <br> industry. Lorem Ipsum</p>
                    <button class="secondary-btn mt-1">Read More <i class="fa-solid fa-arrow-right ms-1"></i></button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="vitamen-C new-image">
                    <div class="date">
                        <h5>25<br>Nov</h5>
                    </div>
                </div>
                <div class="new-content">
                    <span><i class="fa-solid fa-user me-2"></i> By Rachi Card</span>
                    <br>
                    <h5 class="mt-3">Benefits of Vitamin C & How to Get It</h5>
                    <p>Simply dummy text of the printing and typesetting <br> industry. Lorem Ipsum</p>
                    <button class="secondary-btn mt-1">Read More <i class="fa-solid fa-arrow-right ms-1"></i></button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="organic-food new-image">
                    <div class="date">
                        <h5>25<br>Nov</h5>
                    </div>
                </div>
                <div class="new-content">
                    <span><i class="fa-solid fa-user me-2"></i> By Rachi Card</span>
                    <br>
                    <h5 class="mt-3">Research More Organic Foods</h5>
                    <p>Simply dummy text of the printing and typesetting <br> industry. Lorem Ipsum</p>
                    <button class="secondary-btn mt-1">Read More <i class="fa-solid fa-arrow-right ms-1"></i></button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="fresh-fruits new-image">
                    <div class="date">
                        <h5>25<br>Nov</h5>
                    </div>
                </div>
                <div class="new-content">
                    <span><i class="fa-solid fa-user me-2"></i> By Rachi Card</span>
                    <br>
                    <h5 class="mt-3">Benefits of Vitamin C & How to Get It</h5>
                    <p>Simply dummy text of the printing and typesetting <br> industry. Lorem Ipsum</p>
                    <button class="secondary-btn mt-1">Read More <i class="fa-solid fa-arrow-right ms-1"></i></button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="plastic new-image">
                    <div class="date">
                        <h5>25<br>Nov</h5>
                    </div>
                </div>
                <div class="new-content">
                    <span><i class="fa-solid fa-user me-2"></i> By Rachi Card</span>
                    <br>
                    <h5 class="mt-3">Research More Organic Foods</h5>
                    <p>Simply dummy text of the printing and typesetting <br> industry. Lorem Ipsum</p>
                    <button class="secondary-btn mt-1">Read More <i class="fa-solid fa-arrow-right ms-1"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-subscripe></app-subscripe>
<app-footer></app-footer>