<div class="cover">
    <h1>Services</h1>
</div>
<div class="grow py-5">
    <div class="container py-5">
        <div class="text-center">
            <h6>What we Grow</h6>
            <h2 class="col col-md-7 col-lg-4 mx-auto">Better Agriculture for Better Future</h2>
        </div>
        <div class="row mt-5 mt-lg-0">
            <div class="col-lg-4 d-flex align-items-center">
                <div class="text-lg-end">
                    <div>
                        <img src="../../assets/imgs/dairy-products.svg" width="38" height="38" alt="dairy-products">
                        <h5>Dairy Products</h5>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium doloremqlaudantium.
                            Sed
                            ut perspiciatis</p>
                    </div>
                    <div>
                        <img src="../../assets/imgs/store-services.svg" width="38" height="38" alt="store-services">
                        <h5>Store Services</h5>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium doloremqlaudantium.
                            Sed
                            ut perspiciatis</p>
                    </div>
                    <div>
                        <img src="../../assets/imgs/delivery-services.svg" width="38" height="38"
                            alt="delivery-services">
                        <h5>Delivery Services</h5>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium doloremqlaudantium.
                            Sed
                            ut perspiciatis</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-none d-lg-block">
                <img src="../../assets/imgs/services-nuts.png" width="100%" alt="services-nuts">
            </div>
            <div class="col-lg-4 d-flex align-items-center">
                <div class="">
                    <div>
                        <img src="../../assets/imgs/agricultural-services.svg" width="38" height="38"
                            alt="dairy-products">
                        <h5>Agricultural Services</h5>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium doloremqlaudantium.
                            Sed
                            ut perspiciatis</p>
                    </div>
                    <div>
                        <img src="../../assets/imgs/organic-products.svg" width="38" height="38" alt="store-services">
                        <h5>Organic Products</h5>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium doloremqlaudantium.
                            Sed
                            ut perspiciatis</p>
                    </div>
                    <div>
                        <img src="../../assets/imgs/fresh-vegetables.svg" width="38" height="38"
                            alt="delivery-services">
                        <h5>Fresh Vegetables</h5>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium doloremqlaudantium.
                            Sed
                            ut perspiciatis</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4 mt-lg-0">
            <button class="outline-btn">Explore More <i class="fa-solid fa-arrow-right ms-1"></i></button>
        </div>
    </div>
</div>
<div class="organic-only mb-5">
    <div class="text-center">
        <div class="mb-5">
            <h6>Organic Only</h6>
            <h2>Everyday Fresh & Clean</h2>
            <p class="col col-md-9 col-lg-5 mx-auto mt-3">Simply dummy text of the printing and typesetting industry.
                Lorem had
                ceased to been the industry's standard
                dummy text ever since the </p>
        </div>
        <div class="play mx-auto">
            <i class="fa-solid fa-play"></i>
        </div>
    </div>
</div>
<div class="pt-5">
    <app-footer></app-footer>
</div>