<div class="cover">
    <h1>Shop</h1>
</div>
<div class="container my-5 py-5">
    <div class="row">
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="product-card px-3 py-4">
                <span class="category">Vegetable</span>
                <div style="height: 280px;" class="d-flex justify-content-center align-items-center my-3">
                    <img src="../../assets/imgs/broccoli.jpeg" width="100%" alt="broccoli">
                </div>
                <h4>Calabrese Broccoli</h4>
                <hr>
                <div class="d-flex justify-content-between flex-wrap">
                    <div>
                        <s class="me-2">$21.23</s>
                        <span>$18.00</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="product-card px-3 py-4">
                <span class="category">Fresh</span>
                <div style="height: 280px;" class="d-flex justify-content-center align-items-center my-3">
                    <img src="../../assets/imgs/banana.jpg" width="100%" alt="broccoli">
                </div>
                <h4>Fresh Banana Fruites</h4>
                <hr>
                <div class="d-flex justify-content-between flex-wrap">
                    <div>
                        <s class="me-2">$21.00</s>
                        <span>$18.00</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="product-card px-3 py-4">
                <span class="category">Millets</span>
                <div style="height: 280px;" class="d-flex justify-content-center align-items-center my-3">
                    <img src="../../assets/imgs/pistachio.jpeg" width="100%" alt="broccoli">
                </div>
                <h4>White Nuts</h4>
                <hr>
                <div class="d-flex justify-content-between flex-wrap">
                    <div>
                        <s class="me-2">$14.00</s>
                        <span>$9.37</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="product-card px-3 py-4">
                <span class="category">Vegetable</span>
                <div style="height: 280px;" class="d-flex justify-content-center align-items-center my-3">
                    <img src="../../assets/imgs/tomato.jpeg" width="100%" alt="broccoli">
                </div>
                <h4>Vegan Red Tomato</h4>
                <hr>
                <div class="d-flex justify-content-between flex-wrap">
                    <div>
                        <s class="me-2">$20.00</s>
                        <span>$13.00</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="product-card px-3 py-4">
                <span class="category">Health</span>
                <div style="height: 280px;" class="d-flex justify-content-center align-items-center my-3">
                    <img src="../../assets/imgs/beans.jpg" width="100%" alt="broccoli">
                </div>
                <h4>Mung Bean</h4>
                <hr>
                <div class="d-flex justify-content-between flex-wrap">
                    <div>
                        <s class="me-2">$61.00</s>
                        <span>$48.00</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="product-card px-3 py-4">
                <span class="category">Nuts</span>
                <div style="height: 280px;" class="d-flex justify-content-center align-items-center my-3">
                    <img src="../../assets/imgs/nuts.jpg" width="100%" alt="broccoli">
                </div>
                <h4>Brown Hazelnut</h4>
                <hr>
                <div class="d-flex justify-content-between flex-wrap">
                    <div>
                        <s class="me-2">$20.00</s>
                        <span>$13.00</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="product-card px-3 py-4">
                <span class="category">Fresh</span>
                <div style="height: 280px;" class="d-flex justify-content-center align-items-center my-3">
                    <img src="../../assets/imgs/eggs.jpg" width="100%" alt="broccoli">
                </div>
                <h4>Eggs</h4>
                <hr>
                <div class="d-flex justify-content-between flex-wrap">
                    <div>
                        <s class="me-2">$20.00</s>
                        <span>$11.00</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="product-card px-3 py-4">
                <span class="category">Fresh</span>
                <div style="height: 280px;" class="d-flex justify-content-center align-items-center my-3">
                    <img src="../../assets/imgs/bread.jpg" width="100%" alt="broccoli">
                </div>
                <h4>Zelco Suji Elaichi Rusk</h4>
                <hr>
                <div class="d-flex justify-content-between flex-wrap">
                    <div>
                        <s class="me-2">$20.00</s>
                        <span>$14.00</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="product-card px-3 py-4">
                <span class="category">Vegetable</span>
                <div style="height: 280px;" class="d-flex justify-content-center align-items-center my-3">
                    <img src="../../assets/imgs/cucumber.jpg" width="100%" alt="broccoli">
                </div>
                <h4>Cucumber</h4>
                <hr>
                <div class="d-flex justify-content-between flex-wrap">
                    <div>
                        <s class="me-2">$20.00</s>
                        <span>$14.00</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="product-card px-3 py-4">
                <span class="category">Nuts</span>
                <div style="height: 280px;" class="d-flex justify-content-center align-items-center my-3">
                    <img src="../../assets/imgs/white-nuts.jpg" width="100%" alt="broccoli">
                </div>
                <h4>White Hazelnut</h4>
                <hr>
                <div class="d-flex justify-content-between flex-wrap">
                    <div>
                        <s class="me-2">$20.00</s>
                        <span>$14.00</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="product-card px-3 py-4">
                <span class="category">Fresh</span>
                <div style="height: 280px;" class="d-flex justify-content-center align-items-center my-3">
                    <img src="../../assets/imgs/corn.jpg" width="100%" alt="broccoli">
                </div>
                <h4>Fresh Corn</h4>
                <hr>
                <div class="d-flex justify-content-between flex-wrap">
                    <div>
                        <s class="me-2">$20.00</s>
                        <span>$14.00</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="product-card px-3 py-4">
                <span class="category">Fresh</span>
                <div style="height: 280px;" class="d-flex justify-content-center align-items-center my-3">
                    <img src="../../assets/imgs/nuts.jpg" width="100%" alt="broccoli">
                </div>
                <h4>Organic Almonds</h4>
                <hr>
                <div class="d-flex justify-content-between flex-wrap">
                    <div>
                        <s class="me-2">$20.00</s>
                        <span>$14.00</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-subscripe></app-subscripe>
<app-footer></app-footer>