<div class="cover">
    <h1>Our Team</h1>
</div>
<div class="team-members py-5 my-5">
    <div class="container">
        <div class="row px-lg-5">
            <div class="col-lg-4 mb-5">
                <div class="team-card middle">
                    <div class="team-img">
                        <img src="../../assets/imgs/team (2).jpg" width="100%" alt="team1">
                    </div>
                    <div class="team-info px-3 py-4">
                        <h5>Giovani Bacardo</h5>
                        <div class="d-flex justify-content-between align-items-center flex-wrap">
                            <div>
                                <h6>Designer</h6>
                            </div>
                            <div class="d-flex gap-3">
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-twitter"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="team-card">
                    <div class="team-img">
                        <img src="../../assets/imgs/team (1).jpg" width="100%" alt="team2">
                    </div>
                    <div class="team-info px-3 py-4">
                        <h5>Riga Pelore</h5>
                        <div class="d-flex justify-content-between align-items-center flex-wrap">
                            <div>
                                <h6>Farmer</h6>
                            </div>
                            <div class="d-flex gap-3">
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="team-card">
                    <div class="team-img">
                        <img src="../../assets/imgs/team (3).jpg" width="100%" alt="team3">
                    </div>
                    <div class="team-info px-3 py-4">
                        <h5>Marianne Loreno</h5>
                        <div class="d-flex justify-content-between align-items-center flex-wrap">
                            <div>
                                <h6>Farmer</h6>
                            </div>
                            <div class="d-flex gap-3">
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-5">
                <div class="team-card">
                    <div class="team-img">
                        <img src="../../assets/imgs/team (4).jpg" width="100%" alt="team1">
                    </div>
                    <div class="team-info px-3 py-4">
                        <h5>Keira Knightley</h5>
                        <div class="d-flex justify-content-between align-items-center flex-wrap">
                            <div>
                                <h6>Farmer</h6>
                            </div>
                            <div class="d-flex gap-3">
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-twitter"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="team-card middle">
                    <div class="team-img">
                        <img src="../../assets/imgs/team (5).jpg" width="100%" alt="team2">
                    </div>
                    <div class="team-info px-3 py-4">
                        <h5>Scott Lawrence</h5>
                        <div class="d-flex justify-content-between align-items-center flex-wrap">
                            <div>
                                <h6>Designer</h6>
                            </div>
                            <div class="d-flex gap-3">
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="team-card">
                    <div class="team-img">
                        <img src="../../assets/imgs/team (6).jpg" width="100%" alt="team3">
                    </div>
                    <div class="team-info px-3 py-4">
                        <h5>Karen Allen</h5>
                        <div class="d-flex justify-content-between align-items-center flex-wrap">
                            <div>
                                <h6>Farmer</h6>
                            </div>
                            <div class="d-flex gap-3">
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-subscripe></app-subscripe>
<app-footer></app-footer>